@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Kanit:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.auth {
  height: 100%;
  padding-top: 20vh; }
  .auth__form {
    display: flex;
    color: #e2ded3;
    flex-direction: column;
    background: #857671;
    width: 55vw;
    padding: 5vw;
    margin-left: 20vw;
    border-radius: 5%; }
    .auth__form input,
    .auth__form h1 {
      margin-bottom: 1rem; }
    .auth__form h1 {
      transition: all 0.5s ease-in-out;
      text-align: center;
      color: #ffa071; }
      .auth__form h1:hover {
        color: #ff6d24;
        transform: scale(1.1, 1.1); }
    .auth__form__input {
      margin-top: 0.2rem;
      border: none;
      color: #857671;
      background: #e2ded3;
      padding: 1.5vh;
      border-radius: 3px;
      font-size: 1.2rem; }
    .auth__form .btn {
      background: #e2ded3;
      border: none;
      color: #857671;
      font-size: 20px;
      font-weight: bolder;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block; }
      .auth__form .btn:hover {
        transition: all 0.5s ease-in-out;
        color: #ff6d24;
        border-inline: 1rem solid #ff6d24; }

.error-box {
  color: red;
  text-align: center;
  font-weight: 600;
  background: #e2ded3; }

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-menu .content {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .main-menu .content h2 {
      text-decoration: underline; }

body {
  display: flex;
  flex-direction: column;
  background: #e2ded3;
  color: #4e413b;
  height: 100vh;
  line-height: 1;
  font-family: "Kanit", sans-serif; }

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem; }

main {
  height: 100%;
  width: 100%; }

a {
  transition: all 0.5s ease-in-out;
  color: #4e413b;
  text-decoration: none; }
  a:hover {
    color: #ff6d24; }

.menu-nav {
  display: flex; }
  .menu-nav li {
    padding-right: 3vw;
    list-style: none; }
    .menu-nav li a {
      font-weight: 500; }
      .menu-nav li a:hover {
        font-weight: 700; }

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #4e413b; }

#logo {
  max-height: 55px; }
