<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>D&D assistant</title>
    <link rel="icon" href="/img/dnd.png">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <img id="logo" src="/img/dnd.png" alt="Logo" />
      <nav class="nav">
        <ul class="menu-nav">
          {{#if userId}}
          <li class="menu-nav__item">
            <a href="/" class="menu-nav__link">Home</a>
          </li>
          <li class="menu-nav__item">
            <a href="/user/logout" class="menu-nav__link">Logout</a>
          </li>
              {{else}}

          <li class="menu-nav__item">
            <a href="/user/login" class="menu-nav__link">Authentication</a>
          </li>
          <li class="menu-nav__item">
            <a href="/user/registration" class="menu-nav__link">Registration</a>
            {{/if}}
          </li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  <footer>
    footer
  </footer>
  </body>
</html>
